.P {
  display: flex;
  height: 100vh;
  justify-content: flex-start;
  align-items: flex-start;
  /*background: rgb(184, 178, 178);*/
  flex-direction: column;
}

.B {
  display: flex;
  /* flex-direction: column;*/
  height: 200px;
}

.box1,
.box2,
.box3,
.box4 {
  /* Set initial styles for the boxes */

  width: 100px;
  height: 50px;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px;
  transition: background-color 0.3s ease; /* Smooth transition for color change */
  cursor: pointer;
}

/* Change background color on hover */
.box1:hover,
.box2:hover,
.box3:hover,
.box4:hover {
  background-color: #21da10; /* Change to your desired hover color */
}

.unit {
  max-width: 200px;
  margin-bottom: 20px;
  margin-right: 40px;
}

.unit img {
  max-width: 100%;
  height: 100px;
  padding: 5px;
  position: center;
}

.C {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
