.footer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container {
  background-color: green;
  color: white;
  height: 50px;
  position: fixed;
  border-radius: 50px;
  bottom: 10px;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-line {
  border: 1px solid white;
  width: 450px;
}
