.footer-container {
  background-color: green;
  color: white;
  height: 70px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-line {
  border: 1px solid white;
  width: 450px;
}
