/* Original styles for larger screens */
.big {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background: #fff;
}

.medium-form {
  width: 20%;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.medium-form input {
  width: 80%;
}

.medium {
  background-color: rgb(206, 250, 180);
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.drops {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  border-radius: 10px;
  

}

.drop-item select {
  width: 70%;
}

.input {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 60px;
}

.input-item {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-item input {
  height: 40px;
}

.upload {
  background-color: #e0e0e0;
}

.file-upload-label {
  display: block;
  border: 2px dashed gray;
  padding: 10px;
  cursor: pointer;
  height: 110px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.file-upload-label:hover {
  background-color: #e0e0e0;
}

.file-upload-label::after {
  content: attr(data-content);
}

#file-upload {
  display: none;
}

/* Media query for tablet devices */
@media (max-width: 768px) {
  .medium-form {
    flex-direction: column;
    align-items: center;
  }

  .medium-form input {
    width: 100%;
  }

  .medium {
    flex-direction: column;
    height: auto;
  }

  .drops {
    gap: 30px;
  }

  .drop-item select {
    width: 100%;
  }

  .input {
    gap: 30px;
  }

  .file-upload-label {
    width: 100%;
    justify-content: center;
    height: 80px;
  }
}

/* Media query for mobile devices */
@media (max-width: 480px) {
  .medium-form {
    width: 90%;
  }

  .input-item input {
    height: 30px;
  }

  .file-upload-label {
    height: 60px;
  }
}
