.big {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background: #fff;
}

.medium-form {
  height: 100%;
  width: 60%;
  display: flex;

  align-items: center;
  justify-content: space-between;
}
.medium-form input {
  width: 80%;
}

.medium {
  background-color: rgba(50, 205, 50, 0.418);
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.drops {
  /*justify-content: space-between;*/
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.drop-item select {
  width: 70%;
}

.input {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 60px;
}
.input-item {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.input-item input {
  height: 40px;
}
.upload {
  background-color: #e0e0e0;
}

.file-upload-label {
  display: block;
  border: 2px dashed gray;
  padding: 10px;
  cursor: pointer;
  height: 110px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*.file-upload-label {
  display: inline-block;
  padding: 10px 15px;
  background-color: #f2f2f2;
  border-radius: 4px;
  cursor: pointer;
}*/

.file-upload-label:hover {
  background-color: #e0e0e0;
}

.file-upload-label::after {
  content: attr(data-content);
}

#file-upload {
  display: none;
}
